/** {
	/*width: tamaño;
	height: tamaño;
	padding: 10px;
	padding-top: 10px;
	padding-right: 13px;
	padding-bottom: 5px;
	padding-left: 15px;
	margin: 10px;
	margin-top: 10px;
	margin-right: 13px;
	margin-bottom: 5px;
	margin-left: 15px;
	border: 2px solid red;
	
}*/

body{
	font-family: 'Allerta', sans-serif;
	margin: 0;
}

table{
	width: 100%;
}

th{
	background: #273b47;
	color: white;

}

th{
	padding: 10px 20px;
	text-align: left;
} 

td{
	padding: 20px;
}

table, td, th{
	border: 1px solid #273b47;
	border-collapse: collapse;

}

.contenedor{
	width: 800px;
	margin: auto;
}

.background{
	background-image: url('../images/background.png');
	background-size: cover;
}

.button{
	margin-bottom: 70px;
	margin-left: 10px;
	border-radius: 5px;
	border: none;
	background: #fd324e;
	color: white;
	padding: 7px 12px;
	font-size: 18px;
	background: linear-gradient(to left, #fe344e, #ff7250);
	text-decoration: none;
}

.titulo{
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	margin-bottom: 0px;
	margin-top: 70px;
}

.titulo span{
	text-decoration: underline;
}

.title-a{
	font-size: 20px;
	margin-top: 0;
	margin-left: 10px;

}
.title-b{
	font-size: 50px;
	margin-bottom: 20px;
}
.guitarras{
	color: #1F313C;
	margin-bottom: 60px;

}
.guitarras h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}
.portada{
	color: white;
	padding: 20px;
	height: 500px;
}

.menu{
	font-size: 24px;
	display: inline-block;
}
.menu li{
	display: inline-block;
	margin-left: 30px;
}

.menu li:before{
	content: '☆';
	font-size: 20px;
	line-height: 20px;
	color: white;
}

.menu a{
	color: white;
	text-decoration: none;
}

.logo{
	display: inline-block;
	margin-left: 0;
}

.guitarra{
	margin: 10px 10px 30px 10px;
	padding: 5px;
	/*overflow: hidden;*/
	border: 1px solid #1f313c;
	border-radius: 8px;
}
.guitarra ol{
	padding: 0;
}

.guitarra.b{
	height: 190px;
}

.derecha{
	float: right;
	position: relative;
	top: -132px;
}
.izquierda{
	float: left;
	position: relative;
}

.contenedor-guitarra-a{
	padding-left: 20px;
}

.contenedor-guitarra-b{
	margin-left: 370px;
	position: relative;
	bottom: 90px;
}

.footer{
	background: #273b47;
	padding: 50px 10px;
	height: 265px;

}

.contacto{
	display: flex;
	justify-content: space-between;
	width: 300px;
	height: 200px;
	flex-wrap: wrap
}

.contacto img{
	display: block;
}

.contacto strong{
	display: block;
}
.contacto a{
	color: white;
	text-decoration: none;
	margin: 15px 10px 10px 0;
	font-size: 14px;
}

.footer .contenedor{
	display: flex;
	justify-content: space-between;
}

.formulario{
	display: flex;
	width: 600px;
	color: white;
	margin: 10px;
	
}

.col1, .col2{
	display: flex;
	flex-direction: column;
}

.col1{
	margin-right: 10px;
}

.col2{
	align-items: flex-start;
}

.col2 input{
	margin-top: 5px;
	border-radius: 3px;
	border: none;
	background: #fd324e;
	color: white;
	padding: 7px;
}

.intereses label{
	font-size: 11px;
}

.formulario label, .sexo, .intereses{
	margin-bottom: 10px;
}

.sexo{
	margin-top: 10px;
}

.tabla{
	margin: 50px 0;
}

